@{
    Layout = "~/views/shared/frontends/_layout.cshtml";
}

<div class="content-wrapper">
    <div class="col-lg-9 col-md-9">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex p-0">
                        <h3 class="card-title p-3">Xin chào</h3>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1">
                                <p>
                                    Nếu bạn từng cầm chiếc tay cầm NES ngày xưa, thì chắc chắn những tựa game kinh điển như Contra, Super Mario, Tank,... đã gắn liền với tuổi thơ của bạn. Những buổi chiều ngồi cùng bạn bè, mải mê vượt qua từng màn chơi đầy thử thách, mỗi lần nhân vật mất mạng là thêm một tiếng thở dài tiếc nuối, nhưng chẳng thể dứt ra khỏi màn hình. Những ký ức ấy giờ đây có thể sống lại, ngay trong tầm tay bạn!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading d-flex p-0">
                    <h3 class="card-title p-3">Tải xuống giả lập</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="small-box bg-info">
                                <div class="inner">
                                    <img src="~/img/nes-with-game-controller.png" style="width:199px; height:135px;"  />
                                </div>

                                <a href="#" class="small-box-footer">
                                    @L("Download") <i class="fas fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="small-box bg-info">
                                <div class="inner">
                                    <img src="~/img/playstation-one-gear.png" style="width:199px; height:135px;" />
                                </div>

                                <a href="#" class="small-box-footer">
                                    @L("Download") <i class="fas fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">Quảng cáo</div>
</div>
